<aside>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
        {% if link.submenu %}
            <ul>
            {% for sublink in link.submenu %}
                <li>
                    <a href="{{ sublink.url }}">{{ sublink.text }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% assign current = '' %}
        {% if page.url == link.url %}
          {% assign current = 'sidebar-nav-active' %}
        {% endif %}
        <li class="{{ current }}">
          <a href="{{ link.url }}">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
