<aside>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
        <li>
          {% if link.url %}
            <a href="{{ link.url }}">{{ link.text }}</a>
          {% else %}
            <span>{{ link.text }}<span>
          {% endif %}
        </li>
        {% if link.submenu %}
            <ul>
            {% for sublink in link.submenu %}
                {% assign current = '' %}
                {% if page.url == sublink.url %}
                    {% assign current = 'sidebar-nav-active' %}
                {% endif %}
                <li class="{{ current }}">
                    <a href="{{ sublink.url }}">{{ sublink.text }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</aside>
