/*styles*/
ol {
    counter-reset: item
}

.table-of-contents li {
    display: block
}

.table-of-contents li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

.app textarea {
    height: 10em;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #555;
    background-color: #fff !important;
    width:100%;
}

.out textarea[readonly] {
    height: 30em;
    background-color: #ded;
}

.my-data textarea {
    height: 30em;
}

.form-group.field.field-object {
    border: #ccc 1px solid;
    padding: 10px;
}

legend {
    color: #096363;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

.intro {
    margin: 30px 0;
}

div.panel.panel-danger.errors {
    display: none;
}

.has-error label, .field-error label {
    color: #333 !important;
}

.has-error > label, .field-error > label, .has-error > .help-block,
.has-error > .form-control {
    color: #a94442 !important;
}

.has-error .help-block {
    color: #737373 !important;
    /*visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;*/
}

.has-error .form-control {
    border-color: #ccc !important;
}

label.control-label {
    margin-top: 20px;
    font-weight: 700;
}

div.form-group.field {
    display: flex;
    flex-direction: column;
}

div.form-group.field > label {
    order: 1;
}

div.form-group.field > p {
    order: 2;
    margin: 0;
    font-size: 14px;
}

div.form-group.field > input, div.form-group.field > textarea {
    order: 3;
}

div.form-group.field > div {
    order: 4;
}
div.form-group > input {
    border-radius: 4px;
    background-image: none;
    border: 1px solid #ccc;
    color: #555;
    background-color: #fff !important;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    display:block;
}
div.form-group > fieldset{
    border: none;
}
button{
    display:inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.dummy-data{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-right: 1em;
    margin-bottom: 1em;
}
.dummy-data:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.own-data{
    color: #fff;
    background-color: #ad211d;
    border-color: #d43f3a;
    margin-bottom: 1em;
}
.own-data:hover {
    color: #fff;
    background-color: #9e1e1b;
    border-color: #ac2925;
}
.submit-info,.load-data{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-top: 1em;
}
.submit-info:hover,.load-data:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
ul.error-detail{
    font-size: 14px;
    line-height: 1.42857143;
    list-style: none;
}
ul.error-detail li{
    color: #a94442;
    margin: 0;
}
/*508 compliant*/
button:focus {
    border:1px dotted black;
}
/*Tooltip for 508*/
/*.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:hover.help-block {
    visibility: visible;
}*/